a{
  color:white;
  text-decoration: none;  
}
head, body {
  margin: 0;
  padding: 0;
  height: 100%;
  cursor: default;
}

body, html {
  background: -webkit-linear-gradient(#000B4D, #000833);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #fff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
/*Landing Page*/


.title{
  font-size: 150px;
  font-family: 'Abril Fatface';
  transition: all 0.7s;
  margin-left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
  margin-right: 0;
  display: inline-block;
}

.arrow{
  width: 225px;
  margin-top: 10px;
  margin-left: 50px;
}

.quote-generator{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.quote {
  background-color: transparent;
  border-style: none;
  color: #fff;
  font-family: 'Lato';
  font-weight: 500;
  padding: 15px 25px;
  background: #2196f3;
  display: inline-block;
  border-radius: 10px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}
.quote a {
  /* margin-left: 50px; */
  margin-top: 50px;
  background-color: transparent;
  border-style: none;
  width: 500px;
  font-size: 40px;
  color: #fff;
  font-family: 'Lato';
  transition: 0.5s;
}

.quote-container{
  max-width: 100%;
  margin-left: calc(50% - 550px);
  margin-top: 150px;
  -webkit-transform: translateY(-50%);
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 2.5em;
  display: none;
  padding: 0 25px;
}

.learn-more {
  /* position: absolute; */
  width: 1100px;
  margin-left: calc(50% - 550px);
  top: 475px;
  transform: translate(-50%);
  -webkit-transform: translateY(-50%);
  text-align: left;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 28px;
  margin-top: 50px;
}


.action{
}
.hover{
  opacity: 0.6;
}
.text{
  text-align: center;
  font-size: 25px;
}
button{
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    height: 60px;
    width: 250px;
    color: #465324;
    font-weight: 700;
    font-size: 24px;
    background: transparent;
    color: white;
    border: none;
    font-family: "Lato";
    font-weight: 400;
    outline: 0;
}



